<%-include('includes/header')%>
  <!-- header ends here -->
  
  <div class="container py-md-5 container--narrow">
    <%-include('includes/flash')%>
   <%-include('includes/profileshared.ejs')%>
  
    <div class="list-group">
   <% following.forEach(function(followeduser) { %>
    <a href="/profile/<%=followeduser.username%>" class="list-group-item list-group-item-action">
      <img class="avatar-tiny" src="<%=followeduser.avatar %>">
     <%=followeduser.username %>
    </a>
  <% }) %>
    </div>
  </div>
  

  <!-- footer begins -->
  <%-include('includes/footer')%>